<div class="login">
  <%= form_for(:auth, url: login_path) do |f| %>
      <%= f.text_field :username, placeholder: 'Username' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.submit 'Log In' %>
  <% end %>
</div>