<% if @user.errors.any? %>
    <p>The form contains<%= @user.errors.count %> error(s)</p>
    <ul>
      <% @user.errors.full_messages.each do |e| %>
       <li><%= e %></li>
      <% end %>
    </ul>
<% end %>