// Place all the styles related to the Auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  height:110px;
  width:190px;
  margin:auto;
  border:1px #CCC solid;
  padding:10px;
  input {
    padding:5px;
    margin:5px;
  }
  button{
    min-width: 100%;
  }
}