<% provide(:title,"Ruby Project") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="float: left;">
      <p><%= link_to 'Items', items_path %></p>
      <p><%= link_to 'Categories', categories_path %></p>
      <% if logged_in?  %>
          <p><%= link_to 'Logout', logout_path %></p>
      <% end  %>
    </div>
    <div style="float: left"><%= yield %></div>
  </body>
</html>
