<% provide(:title,"Ruby Project") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if flash.any? %>
    <ul>
    <% flash.each do |type, message|  %>
        <li><%= type %> - <%= message %></li>
    <% end %>
    </ul>
<% end %>
<div><%= yield %></div>
</body>
</html>
